@font-face {
  font-family: 'Poppins';
  src: url('../../public/font/Poppins-Regular.ttf') format('truetype');
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  font-family: 'Poppins';
}

body {
  font-size: 16px;
  font-family: 'Poppins';
}

ul {
  list-style: none;
}
a {
  color: #4f4f4f;
}
a:hover {
  color: rgba(255, 176, 0, 1);
}
.container {
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 1464px;
  margin-left: auto;
  margin-right: auto;
}
